.whole-nav {
    position: fixed;
    left: 0;
    padding: 0 6%;
    .top-nav {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        img {
            width: 2px;
            height: auto;
        }
        nav {
            ul {
                display: flex;
                flex-direction: column;
                gap: 1.7rem;
                a {
                    color: $black;
                    font-size: clamp(1.7rem, 2vw, 2.5rem);
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
    .bottom-nav {
        position: fixed;
        bottom: 3%;
        p {
            color: $black;
            font-size: clamp(1.7rem, 2vw, 2.5rem);
            font-weight: 900;
        }
        hr {
            background: $black;
            height: clamp(0.2rem, 0.1vw, 0.4rem);
        }
    }
}