.whole-nav {
    position: fixed;
    left: 0;
    padding: 0 6%;
    z-index: 500;
    .top-nav {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        img {
            width: 2px;
            height: auto;
        }
        .vl {
            border-left: 2px solid $black;
            height: 118.5px;
        }
        nav {
            ul {
                display: flex;
                flex-direction: column;
                gap: 1.7rem;
                a {
                    color: $black;
                    font-size: clamp(1.7rem, 2vw, 3rem);
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: all .3s $ease;
                    &:hover {
                        color: #00658D;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
    .bottom-nav {
        position: fixed;
        bottom: 3%;
        cursor: pointer;
        p {
            color: $black;
            font-size: clamp(1.7rem, 2vw, 3rem);
            font-weight: 900;
        }
        hr {
            background: $black;
            height: clamp(0.2rem, 0.1vw, 0.4rem);
        }
    }
}
