.headline-project {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    h1 {
        color: $black;
        font-size: 5.2rem;
        letter-spacing: -3px;
        font-weight: 700;
    }
    .secondary-headline {
        display: flex;
        gap: 0.8rem;
        h2 {
            color: $primaryColor;
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        .right-arrow {
            color: $primaryColor;
            font-size: 3.5rem;
        }
    }

    h5 {
        padding-top: 1.5em;
        font-size: 1rem;
        font-weight: 400;
        color: #41484D;
    }
}