@import './work/tabs';

.motion-row {
    padding-bottom: 4.6vh;
    .row-1 {
        display: flex;
        flex-direction: column;
        .work-1-banner {
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: all .3s $ease;
            &:hover {
                transform: scale(.95);
            }
        }
        h3 {
            color: #001E2E;
            font-size: clamp(1.5rem, 1.8vw, 5rem);
            font-weight: 500;
            padding-top: .8vh;
        }
        p {
            color: #41484D;
            font-size: clamp(1.2rem, 1.25vw, 4rem);
            font-weight: 400;
            padding-top: 1.1vh;
            line-height: 1.2;
        }
    }

    .row-2 {
        display: flex;
        gap: 2.3vw;
        padding-top: 3.7vh;
        .work-2 {
            display: flex;
            flex-direction: column;
            .work-2-banner {
                width: clamp(24.2rem, 25.2vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.5rem, 1.8vw, 5rem);
                font-weight: 500;
                padding-top: 1vh;
            }
            p {
                color: #41484D;
                font-size: clamp(1.2rem, 1.25vw, 4rem);
                font-weight: 400;
                padding-top: 1.2vh;
            }
        }
        .work-3 {
            display: flex;
            flex-direction: column;
            .work-3-banner {
                width: clamp(24.2rem, 25.2vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.5rem, 1.8vw, 5rem);
                font-weight: 500;
                padding-top: 1vh;
            }
            p {
                color: #41484D;
                font-size: clamp(1.2rem, 1.25vw, 4rem);
                font-weight: 400;
                padding-top: 1.2vh;
            }
        }
    }

    .row-3 {
        display: flex;
        gap: 45px;
        padding-top: 6vh;
        .work-4 {
            display: flex;
            flex-direction: column;
            .work-4-banner {
                width: clamp(34.7rem, 37vw, 70rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.5rem, 1.8vw, 5rem);
                font-weight: 500;
                padding-top: .8vh;
            }
            p {
                color: #41484D;
                font-size: clamp(1.2rem, 1.25vw, 4rem);
                font-weight: 400;
                padding-top: 1vh;
            }
        }
        .work-5 {
            display: flex;
            flex-direction: column;
            .work-5-banner {
                width: clamp(12.65rem, 13.4vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.5rem, 1.8vw, 5rem);
                font-weight: 500;
                padding-top: .8vh;
            }
            p {
                color: #41484D;
                font-size: clamp(1.2rem, 1.25vw, 4rem);
                font-weight: 400;
                padding-top: 1vh;
            }
        }
    }

    .row-4 {
        display: flex;
        gap: 53px;
        padding-top: 6.2vh;
        .work-6 {
            display: flex;
            flex-direction: column;
            .work-6-banner {
                width: clamp(14.5rem, 15.7vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.1rem, 1.25vw, 5rem);
                font-weight: 500;
                padding-top: 1.2vh;
            }
            p {
                color: #41484D;
                font-size: clamp(0.8rem, 0.9vw, 2rem);
                font-weight: 400;
                padding-top: .9vh;
                line-height: 1.3;
                font-family: 'Product Sans', sans-serif;
            }
        }
        .work-7 {
            display: flex;
            flex-direction: column;
            .work-7-banner {
                width: clamp(14.5rem, 15.7vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.1rem, 1.25vw, 5rem);
                font-weight: 500;
                padding-top: 1.2vh;
            }
            p {
                color: #41484D;
                font-size: clamp(0.8rem, 0.9vw, 2rem);
                font-weight: 400;
                padding-top: .9vh;
                line-height: 1.3;
            }
        }
        .work-8 {
            display: flex;
            flex-direction: column;
            .work-8-banner {
                width: clamp(14.5rem, 15.7vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.1rem, 1.25vw, 5rem);
                font-weight: 500;
                padding-top: 1.2vh;
            }
            p {
                color: #41484D;
                font-size: clamp(0.8rem, 0.9vw, 2rem);
                font-weight: 400;
                padding-top: .9vh;
            }
        }
    }

    .row-5 {
        display: flex;
        gap: 36px;
        padding-top: 6.3vh;
        .work-9 {
            display: flex;
            flex-direction: column;
            .work-9-banner {
                width: clamp(23.9rem, 25.4vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.5rem, 1.8vw, 5rem);
                font-weight: 500;
                padding-top: .8vh;
            }
            p {
                color: #41484D;
                font-size: clamp(1.2rem, 1.25vw, 4rem);
                font-weight: 400;
                padding-top: 1vh;
            }
        }
        .work-10 {
            display: flex;
            flex-direction: column;
            .work-10-banner {
                width: clamp(23.9rem, 25.4vw, 50rem);
                height: auto;
                cursor: pointer;
                transition: all .3s $ease;
                &:hover {
                    transform: scale(.95);
                }
            }
            h3 {
                color: #001E2E;
                font-size: clamp(1.5rem, 1.8vw, 5rem);
                font-weight: 500;
                padding-top: .8vh;
            }
            p {
                color: #41484D;
                font-size: clamp(1.2rem, 1.25vw, 4rem);
                font-weight: 400;
                padding-top: 1vh;
            }
        }
    }

}

.web-row {
    .row-1-web {
        display: flex;
        flex-direction: column;
        .web-1-banner {
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: all .3s $ease;
            &:hover {
                transform: scale(.95);
            }
        }
        h3 {
            color: #001E2E;
            font-size: clamp(1.5rem, 1.8vw, 5rem);
            font-weight: 500;
            padding-top: .8vh;
        }
        p {
            color: #41484D;
            font-size: clamp(1.2rem, 1.25vw, 4rem);
            font-weight: 400;
            padding-top: 1.1vh;
            line-height: 1.2;
        }
    }
}