*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Product Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #FBFCFF;
    font-family: 'Product Sans', sans-serif;
    height: 100vh;
    line-height: 1;
    overflow: overlay;
    min-height: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    font-family: 'Product Sans', sans-serif;
}

li {
    list-style: none;
    font-family: 'Product Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Product Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #DDE3EA;
    opacity: 0.2;
}
