//colors

$primaryColor: #00658D;
$secondaryColor: #4F616E;
$tertiaryColor: #625A7C;
$optionalColor: #BA1B1B;
$white: #ffffff;
$black: #191C1E;
$bg: #FBFCFF;

//fonts

$googlesans: 'Product Sans', sans-serif;

//typography

// $respMedium: clamp(1.7rem, 2vw, 2.5rem);
// $respSmall: clamp(0.2rem, 1.5vw, 2.2rem);

//easings

$ease: cubic-bezier(0.86,0,0.07,1);
